[submodule "wine"]
	path = wine
	url = https://github.com/jeremyd2019/wine.git
	branch = msys2-9.9-wow
[submodule "qemu"]
	path = qemu
	url = https://github.com/AndreRH/qemu.git
	branch = wow
[submodule "fex"]
	path = fex
	url = https://github.com/AndreRH/FEX.git
	branch = wow
